<?xml version="1.0" encoding="gbk"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="  
             http://www.springframework.org/schema/beans 
             http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
             http://www.springframework.org/schema/context
        	 http://www.springframework.org/schema/context/spring-context-3.0.xsd
             http://www.springframework.org/schema/aop 
             http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
             http://www.springframework.org/schema/tx 
             http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">	
    
	<bean id="orgDao" class="com.kh.hsfs.impl.OrgDaoImpl">
		<property name="bdi" ref="baseDao" />
	</bean>
	<bean id="userService" class="com.kh.hsfs.impl.UserServiceImpl">
		<property name="bdi" ref="baseDao"/>
	</bean>
	
             
    <bean id="orgManageAction"
		class="com.kh.hsfs.action.OrgManageAction" scope="prototype">
		<property name="orgDao" ref="orgDao" />
	</bean>
	<bean id="userManagerAction" class="com.kh.hsfs.action.UserManagerAction" scope="prototype">
		<property name="userService" ref="userService"/>
	</bean>
	<bean id="loginAction" class="com.kh.hsfs.action.LoginAction" scope="prototype">
		<property name="userService" ref="userService"/>
	</bean>
	<bean id="LoginInterceptor" class="com.kh.hsfs.action.LoginInterceptor">
	</bean>
	
	<!-- 公告 -->
	<bean id="noticeService" class="com.kh.hsfs.impl.NoticeServiceImpl">
		<property name="bdi" ref="baseDao"></property>
	</bean>
	<bean id="notices" class="com.kh.hsfs.action.NoticeAction" scope="prototype">
		<property name="noticeService" ref="noticeService"></property>
	</bean>
	<!-- 邮件 -->
	<bean id="es" class="com.kh.hsfs.impl.EmailServiceImpl">
		<property name="bdi" ref="baseDao"></property>
	</bean>
	<bean id="emailAction" class="com.kh.hsfs.action.EmailAction" scope="prototype">
		<property name="es" ref="es"></property>
	</bean>
	
</beans>
